.sidebar{
    background-color: rgba(128, 128, 128, 0.184);
    position: sticky;
    width:100%;
    padding: 30px;
    display: inline-block;
    top: 0;
    height:100vh;
    overflow-y: hidden !important;
}
.sidebar h5{
    color: blue;
    font-weight: 750;
}
.sidebar li{
    font-weight: 550    ;
}
.sidebar .navlink{
    text-decoration: none;
    color: black;
}
.sidebar .navlink:hover{
    color: green;
}